* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* height: 100vh; */
    background: #203A43; 
    /* background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);  */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E2E5E6;
}

.main-container {
    /* background: white; */
    width: 90%;
    max-width: 1700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-text {
    text-align: center;
}

.inputs {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: lightcoral; */
    padding: 10px;
}

.inputs-height, .inputs-weight, .inputs-waist {
    /* background: lightyellow; */
    padding: 10px;
    width: 100%;
}

.title-row {
    /* background: lightblue; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;
}

.optional {
    padding-left: 26px;
    position: relative;
    top: -20px;
    color: gray;
}

.inputs-row {
    /* background: lightgreen; */
    display: flex;
}

h2 {
    display: inline;
    font-size: 1.25rem;
    margin-left: 1rem;
}

/* .button {
    padding: 5px 16px;
    width: 165px;
    text-align: center;
    background: #6dd5ed;
    border: 2px solid #2193b0;
    border-radius: 10px;
    transition: background 0.2s;
    cursor: pointer;
}

.button:hover {
    background: #2193b0;
    color: white;
} */

.button {
    color: #E2E5E6;
    text-decoration: none;
    font-weight: 700;
    background-color: #9A059F;
    padding: 0.5rem;
    text-align: center;
    width: 120px;
    transition: box-shadow 0.2s;
    display: block;
    cursor: pointer;
}

.button:hover {
    box-shadow: -5px 5px 0px 0px #49B099;
}

.calc {
    background: #49B099;
}

.calc:hover {
    background-color: #49B099;
    box-shadow: -5px 5px 0px 0px #9A059F;
}

.message-area {
    height: 1rem;
    margin: 1rem;
}

input {
    width: 120px;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: 1.5rem;
    border: 2px solid #49B099;
    transition: all 0.1s;
    background: #203A43;
    color: #E2E5E6;
    transition: border 250ms;
}

input::placeholder {
    color: rgb(99, 99, 99);
}

input:hover, input:focus, input:active {
    border: 2px solid #9A059F;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.inputs-row div {
    position: relative;
}

label {
    position: absolute;
    top: -0.5rem;
    left: 2.75rem;
    padding: 0 0.25rem;
    background: #203A43;
}

.message {
    color: #ff6700;
    font-weight: bold;
}

.results {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
}

.result-text {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
}

.result-bmi-text, .result-waist-text {
    margin-left: 0;
}

.result {
    font-size: 2rem;
    font-weight: 700;
}

.result-bar {
    margin: 2rem 0;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(186,52,52,1) 12%, rgba(209,187,46,1) 13%, rgba(209,187,46,1) 17%, rgba(105,167,52,1) 18%, rgba(105,167,52,1) 49%, rgba(209,187,46,1) 50%, rgba(209,187,46,1) 51%, rgba(209,187,46,1) 75%, rgba(186,52,52,1) 76%, rgba(186,52,52,1) 100%);
    position: relative;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #9A059F;
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    transition: left 1s;
}

@media (max-width: 800px){
    h2 {
        font-size: 1rem;
    }

    .main-container {
        width: 100%;
        max-width: 100%;
    }

    .result-bar {
        margin: 2rem auto;
        width: 86%;
    }

    .result-bmi-cat {
        font-size: 1rem;
    }
}